@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/dracutefruit/2526_2221050190_BaiThi.git" target="_blank">
        building Web apps with ASP.NETCore</a>.</p>
    </div>
